%h1(style="text-align: center; margin-bottom:20px;") Bounced Addresses
%form.form-search(style="text-align: right")
  %div.input-append
    %input.span4.search-query(type="text" name="q")
    %button.btn(type="submit") Search
%table.table.table-striped(style="table-layout:fixed")
  %colgoup
    %col(width="25%")
    %col(width="15%")
    %col(width="50%")
    %col(width="10%")
  %thead
    %tr
      %th Email
      %th Type
      %th Description
      %th Created At
  %tbody
  - for bounce in @bounces
    %tr
      %td= bounce.email
      %td= bounce.type
      %td= bounce.desc
      %td= bounce.created_at.strftime '%d/%m/%Y'
= paginate @bounces